.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #f9f9f9;
    margin: 1%;
}

.header {
    display: flex;
    flex-direction: column;
    /* Stack vertically on small screens */
    align-items: center;
    width: 100%;
    /* Full width for small screens */
    gap: 1rem;
    /* Adjust gap for smaller screens */
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.header-content {
    padding: 15px;
    text-align: center;
}

.header-content h2 {
    font-size: 2rem;
    /* Adjusted for smaller screens */
    margin-bottom: 20px;
    color: #333;
}

.header-content p {
    font-size: 1rem;
    /* Adjusted for smaller screens */
    margin-bottom: 15px;
    color: #666;
}

.info-text {
    font-size: 0.85rem;
    /* Adjusted for smaller screens */
    color: #999;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        /* Stack side by side on medium screens and up */
        align-items: center;
        width: 85%;
        gap: 10%;
    }

    .header-content {
        text-align: left;
        padding: 20px;
    }

    .header-content h2 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .header-content p {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .info-text {
        font-size: 0.9rem;
    }
}